force-app/main/default/flows/EventSpeaker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>CompareStartEnd</name>
        <label>CompareStartEnd</label>
        <locationX>396</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>GetStartEnd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>GetStartEnd.Event__r.Start__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Event__r.Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetStartEnd.Event__r.Start__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Event__r.End__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetStartEnd.Event__r.End__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Event__r.Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetStartEnd.Event__r.End__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Event__r.End__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetStartEnd.Event__r.Start__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Event__r.Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetStartEnd.Event__r.End__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Event__r.End__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAddErrorCheck</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <description>This flow check if there are Duplicate records in the Event Speker Object</description>
    <environments>Default</environments>
    <interviewLabel>EventSpeaker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EventSpeaker</label>
    <loops>
        <name>GetStartEnd</name>
        <label>GetStartEnd</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Event_Speaker_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CompareStartEnd</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Event_Speaker_Details</name>
        <label>Event Speaker Details</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetStartEnd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Speaker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Speaker__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event_Speaker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAddErrorCheck</name>
        <label>UpdateAddErrorCheck</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>GetStartEnd</targetReference>
        </connector>
        <inputAssignments>
            <field>Add_Error__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_Speaker_Details</targetReference>
        </connector>
        <object>Event_Speaker__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
